.container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border: 0px;
    margin: 0 auto;
}

.row {

}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    padding: 10px;
}
[class*='col-'] p {
    height: 50px;
    padding: 5px;
    border: 1px solid #999;
    background-color: #eee;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-6 {
    width: 50%;
}
.col-8 {
    width: 66.66%;
}
.col-10 {
    width: 83.33%;
}
.col-12 {
    wdith: 100%;
}

@media all and (max-width:768px) {
    .col-1{ width: 16.66%; }
    .col-2{ width: 25%; }
    .col-3{ width: 25%; }
    .col-4{ width: 50%; }
    .col-6{ width: 66.66%; }
    .col-8,.col-10,.col-12 { width:100% }

    .row .col-4:last-of-type{
        width: 100%;
    }

    .row .col-3 ~ .col-6{
        width: 50%;
    }

    .row .col-1 + .col-2{
        width: 66.66%;
    }

    .row .col-2 + .col-6{
        width: 25%;
    }
}
