.newspaper {
    width: 980px;
    height: 1386px;
    margin: 0 auto;
    box-shadow: 0 0 10px #888;
}
.content {
    width: 892px;
    height: 1386px;
    margin: 0 auto;
}

/*header*/
.content .headerBox {
    border-bottom: 2px solid #938e8c;
    position: relative;
}
.content .headerBox .headerRedBox {
    width: 110px;
    height: 61px;
    background-color: #d45d5c;
    float: left;
}
.content .headerBox .headerRedBox>a {
    font: 12px "黑体";
    color: #fff;
    position: absolute;
    bottom: 3px;
    left: 3px;
    text-decoration: none;
}
.content .headerBox>span {
    font: 12px "黑体";
    color: #d45d5c;
    position: absolute;
    bottom: 3px;
    right: 0;
}

/*main*/
.content .top {
    margin-top: 35px;
    position: relative;
}
.content .top .topImgContainer {
    width: 641px;
    height: 301px;
    position: relative;
}
.content .top .topImgContainer .topImgMask {
    width: 191px;
    height: 301px;
    opacity: 0.3;
    /*兼容IE8以及更早版本*/
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);

    position: absolute;
}
.content .top .topImgContainer .topLeftMask {
    background: green;
    top: 0;
    left: 0;
}
.content .top .topImgContainer .topRightMask {
    background: red;
    top: 0;
    right: 0;
}

.content .top .topTextContainer {
    width: 203px;
    height: 301px;
    border-top: 2px solid #cc8091;
    position: absolute;
    top: 0;
    right: 0;
}
.content .top .topTextContainer .titleBox {
    height: 40px;
    position: relative;
}
.content .top .topTextContainer .titleBox .titleText {
    font-size: 17px;
    color: #000;
    display: inline-block;
    position: absolute;
    border-bottom: 2px solid #000;
    left: 0;
    bottom: 0;
}
.content .top .topTextContainer .titleBox .titleText>span {
    font-size: 24px;
}
.content .top .topTextContainer .tinyText {
    font: 12px "楷体";
    color: #676767;
    margin-top: 4px;
    line-height: 10px;
}
.content .top .topTextContainer .largeText {
    font-size:116px;
    color: #75b86b;
    font-style: oblique;
    position: absolute;
    left: -18px;
}
.content .top .topTextContainer .number {
    font-size: 55px;
    color: #cc8091;
    position: absolute;
    left: 10px;
    bottom: -13px;
}
.content .top .topTextContainer .largeCSS {
    font-size: 21px;
    color: #cc8091;
    position: absolute;
    left: 95px;
    bottom: 10px;
}
.content .top .topTextContainer .tinyCSS {
    font-size: 12px;
    color: #cc8091;
    position: absolute;
    left: 95px;
    bottom: -2px;
}

.content .middle {
    margin-top: 40px;
    width: 641px;
    height: 170px;
}
.content .middle .title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
.content .middle .what {
    width: 236px;
    float: left;
}
.content .middle .what>span {
    color: #418c59;
}
.content .middle .what>p {
    margin-top: 8px;
    font: 12px "宋体";
    color: #767777;
    line-height: 16px;
}
.content .middle .when {
    width: 198px;
    float: left;
    margin-left: 20px;
}
.content .middle .when>span {
    color: #d2994f;
}
.content .middle .when>p {
    margin-top: 8px;
    font-size: 12px;
    color: #231815;
    line-height: 16px;
    opacity: 0.7;
    /*兼容IE8以及更早版本*/
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}
.content .middle .how {
    width: 167px;
    float: left;
    margin-left: 20px;
}
.content .middle .how>span {
    color: #cc7680;
}
.content .middle .how>p {
    margin-top: 8px;
    font-size: 12px;
    color: #231815;
    line-height: 16px;
    opacity: 0.7;
    /*兼容IE8以及更早版本*/
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}
.content .middle .how .reference {
    margin-top: 20px;
}
.content .middle .how .reference>span {
    font-style: oblique;
    color: #cd4a48;
}

.content .bottom {
    margin-top: 70px;
    position: relative;
}
.content .bottom .leftTop {
    width: 415px;
    border-bottom: 2px solid #11456b;
}
.content .bottom .leftTop .en {
    font: bold 42px "黑体";
    color: #11456b;
}
.content .bottom .leftTop .en span {
    font:bold oblique 72px "黑体";
    color: #f5e327;
}
.content .bottom .leftTop .cn {
    font: bold 33px "黑体";
    color: #11456b;
    line-height: 42px;
}
.content .bottom .leftBottom {
    width: 415px;
    height: 450px;
    padding-top: 20px;
}
.content .bottom .leftBottom .firstText {
    font-size: 70px;
    color: #f5e327;
    float: left;
    margin-top: -10px;
    margin-right: 7px;
    margin-bottom: 1px;
}
.content .bottom .leftBottom img {
    float: right;
    clear: both;
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 10px;

}
.content .bottom .leftBottom .bottomText p {
    font:12px "宋体";
    line-height: 16px;
}
.content .bottom .leftBottom .bottomText .p2,.p3 {
    text-indent: 2rem;
}
.content .bottom .rightTop {
    width: 458px;
    height: 257px;
    position: absolute;
    top: 19px;
    right: 0;
}
.content .bottom .rightTop .bottomMask {
    width: 458px;
    height: 61px;
    position: absolute;
    bottom: 0;
    background-color: #000;
    /*兼容IE8以及更早版本*/
    opacity: 0.3;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}
.content .bottom .rightTop .greenBorder {
    height: 44px;
    position: absolute;
    bottom: 8.5px;
    left: 40px;
    border-left: 3px solid #72b16a;

}
.content .bottom .rightTop .greenBorder .midImgText1 {
    color: #fff;
    margin-left: 10px;
    font-size: 26px;
    line-height: 44px;
    opacity: 1;
}
.content .bottom .rightTop .greenBorder .midImgText2 {
    font-size:12px;
    font-style: oblique;
    color: #72b16a;
    margin-left: 4.8px;
}
.content .bottom .rightBottom {
    width: 458px;
    height: 318px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ededd5;
}
.content .bottom .rightBottom .catalogContainer {
    padding-left: 30px;
    padding-right: 20px;
    padding-top:30px;
    width: 100%;
}
.content .bottom .rightBottom .catalog {
    width: 100%;
    height: 40px;
}
.content .bottom .rightBottom .catalog .triangle {
    width: 0;
    height: 0;
    display: inline-block;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom: 10px solid #11456b;
}
.content .bottom .rightBottom .catalog .logText {
    display: inline-block;
    color: #5a5b5b;
    font-family: "宋体";
    font-size: 16px;
    text-align: left;
    vertical-align: bottom;
}
.content .bottom .rightBottom .catalog .obliqueText {
    font:12px "宋体";
    color: #5a5b5b;
    text-align: right;
    font-style: oblique;
}
.content .bottom .rightBottom .bottomRedBox {
    width: 260px;
    height: 160px;
    background-color: #d45d5c;
    position: absolute;
    bottom: 0;
    left: 0;
}
.content .bottom .rightBottom .bottomRedBox .textBox {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.content .bottom .rightBottom .bottomRedBox .textBox .largeZero {
    font: 110px "Microsoft YaHei UI";
    color: #fff;
    float: left;
    margin-left: 10px;
}
.content .bottom .rightBottom .bottomRedBox .textBox .rightTextBox {
    height: 86px;
    border-left: 2px solid #fff;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
    margin-top: 27px;
}
.content .bottom .rightBottom .bottomRedBox .textBox .rightTextBox .largeEn  {
    font:oblique 21px "黑体";
    color: #fff;
}
.content .bottom .rightBottom .bottomRedBox .textBox .rightTextBox .tinyHW {
    font: oblique 12px "黑体";
    color: #fff;
}
.content .bottom .rightBottom .citeBox {
    width: 199px;
    height: 160px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}
.content .bottom .rightBottom .quotationTop {
    font: 72px "黑体";
    color: #d45d5c;
    float: left;
    margin-left: -40px;
    margin-top: -10px;
    margin-bottom: -60px;
    margin-right: 10px;
}
.content .bottom .rightBottom .quotationBottom {
    font: 72px "黑体";
    color: #d45d5c;
    float: right;
    position: absolute;
    right: -14px;
    bottom: -10px;
}
.content .bottom .rightBottom .bottomHW {
    font: oblique 14px "黑体";
    color: #5a5b5b;
}

.content .footerBox {
    width: 100%;
    height: 30px;
    margin-top: 40px;
    border-top: 1px solid #938e8c;
    position: relative;
}
.content .footerBox a {
    font: 12px "黑体";
    color: #d45d5c;
    position: absolute;
    right: 0;
    top: 2px;
    text-decoration: none;
}